///
/// 1_ PATROÓN DE COLORES
///
$principal: #165164;
$secundario: #8adaef;
$tercero: #0791DB;
$cuarto: #1E465C;
$quinto: #056FA8;
$sexto: #e3f4fb;
$septimo: #165164;
$textDecorationNone: none;
///
/// 2_ MODIFICACION DE LAS VARIABLES DE BOOTSTRAP.
/// 
$primary: $principal;
$secondary: $secundario;
$success: $tercero;
$info: $cuarto;
$warning: $quinto;
$light: $sexto;
$dark: $septimo;
@import "../node_modules/bootstrap/scss/bootstrap";
//Contenido general, variables y pages.
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px, xxxl: 2000px);
//
*,
*::before,
*::after {
    font-family: sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    text-decoration: none;
}

//Contenido del footer.
.upFixed {
    position: none;
    bottom: none;
    width: none;
}

.centerClass {
    justify-content: none;
    align-items: none;
}

@include media-breakpoint-up(xxxl) {
    .upFixed {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .centerClass {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//Contenido del Index Carrousel y Section Images.
.marginCarrousel {
    height: 400px;
}

.imgCarrousel {
    padding-top: 50px;
    height: 180px;
}

.elementTheCarrousel {
    height: 350px;
}

.containerCarrousel {
    height: 500px;
}

.pCarrousel {
    width: auto;
}

.h1Carrousel {
    width: auto;
    font-size: 22px;
}

.imgSeccion {
    width: 100%;
    max-height: 100vh;
    height: 75%;
}

.containerTitleCarrousel {
    opacity: 0.80;
    padding-top: 60px;
    font-size: 12px;
}

@include media-breakpoint-up(sm) {
    .marginCarrousel {
        height: 400px;
    }
    .imgCarrousel {
        height: 200px;
    }
    .imgSeccion {
        width: 90%;
        max-height: 500px;
    }
    .containerTitleCarrousel {
        padding-top: 60px;
        font-size: 14px;
    }
    .h1Carrousel {
        font-size: 24px;
    }
}

@include media-breakpoint-up (md) {
    .marginCarrousel {
        height: 450px;
    }
    .imgCarrousel {
        height: 250px;
    }
    .containerTitleCarrousel {
        font-size: 16px;
    }
    .h1Carrousel {
        font-size: 27px;
    }
}

.goShop {
    height: 100%;
}