<!--main-->
<main class="container">
    <!-- 1er banner-->
    <app-banner-one></app-banner-one>

    <!--Go shop-->
    <app-go-shop></app-go-shop>
    <!-- 2nd banner -->
    <app-banner-two></app-banner-two>
    <!-- Dashboard Carrusel (   Carretel de imagenes productos aleatorios)-->
    <app-products-carousel></app-products-carousel>


    <!-- 3st banner  -->
    <app-banner-three></app-banner-three>
    <!--Sponsors Etiquetas-->
    <app-sponsors-carousel></app-sponsors-carousel>

</main>