<!-- Upload profile -->
<div class="col-xxl-12 pb-5">
    <div class="bg-secondary-soft px-4 py-5 rounded">
        <div class="row g-3">
            <h4 class="mb-4 mt-0 text-center">Upload your profile photo</h4>
            <div class="text-center">
                <!-- Image upload -->
                <div class="square position-relative display-2 mb-3">
                    <img class="img-fluid" src="../../../../../assets/img/user_random.png" width="300px" height="300px">
                </div>
                <!-- Button -->
                <input type="file" id="customFile" name="file" hidden="">
                <label class="btn btn-success-soft btn-block" for="customFile">Upload</label>
                <button type="button" class="btn btn-danger-soft">Remove</button>
                <!-- Content -->
                <p class="text-muted mt-3 mb-0"><span class="me-1">Note:</span>Minimum size 300px x 300px</p>
            </div>
        </div>
    </div>
</div>