<!--Banner de sponsor-->
<div class="container container_sponsors-carousel">
    <div class="row text-center">
        <div class="col-lg-12 m-auto tempaltemo-carousel">
            <div class="row d-flex flex-row">
                <!--Carousel Wrapper-->
                <div class="col">
                    <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example"
                        data-bs-ride="carousel">
                        <!--Slides-->
                        <div class="carousel-inner product-links-wap" role="listbox">
                            <!--First slide-->
                            <div class="carousel-item py-lg-5 my-lg-5 my-xl-5">
                                <div class="row">
                                    <div class="col-3 p-md-4 p-xl-0">
                                        <a href="#"><img class="image_size img-fluid" src="assets/img/brand_01.png"
                                                alt="Brand Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-4 p-xl-0">
                                        <a href="#"><img class="image_size img-fluid" src="assets/img/brand_02.png"
                                                alt="Brand Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-4 p-xl-0">
                                        <a href="#"><img class="image_size img-fluid" src="assets/img/brand_03.png"
                                                alt="Brand Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-4 p-xl-0">
                                        <a href="#"><img class="image_size img-fluid" src="assets/img/brand_04.png"
                                                alt="Brand Logo"></a>
                                    </div>
                                </div>
                            </div>
                            <!--End First slide-->
                            <!--Second slide-->
                            <div class="carousel-item active py-lg-5 my-lg-5 my-xl-5">
                                <div class="row">
                                    <div class="col-3 p-md-4 p-xl-0">
                                        <a href="#"><img class="image_size img-fluid" src="assets/img/brand_01.png"
                                                alt="Brand Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-4 p-xl-0">
                                        <a href="#"><img class="image_size img-fluid" src="assets/img/brand_02.png"
                                                alt="Brand Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-4 p-xl-0">
                                        <a href="#"><img class="image_size img-fluid" src="assets/img/brand_03.png"
                                                alt="Brand Logo"></a>
                                    </div>
                                    <div class="col-3 p-md-4 p-xl-0">
                                        <a href="#"><img class="image_size img-fluid" src="assets/img/brand_04.png"
                                                alt="Brand Logo"></a>
                                    </div>
                                </div>
                            </div>
                            <!--End Second slide-->
                            <!--End Slides-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>