<!-- Mi Profile -->
<div class="container light-style flex-grow-1 container-p-y">
    <div class="container row">

        <!-- Page title -->
        <div class="my-5">
            <h3>My Profile</h3>
            <hr>
        </div>

        <!-- Forms -->
        <div class="file-upload">

            <!-- Profile data -->
            <div class="col-lg-12 bg-secondary-soft px-4 py-5 rounded">
                <app-profile-contact></app-profile-contact>
            </div>

            <!-- Auth data -->
            <div class="bg-secondary-soft px-4 py-5 rounded co-lg-12 mb-5 gx-5 mt-5">
                <app-access></app-access>
            </div>
        </div>

    </div>
</div>