<div class="container light-style flex-grow-1 container-p-y">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

    <div class="container">
        <div class="row">
            <!-- Page title -->
            <div class="my-5">
                <h3>My Profile</h3>
                <hr>
            </div>
            <!-- Form START -->
            <form class="file-upload">

                <app-upload-pic></app-upload-pic>

                <!-- Row END -->
                <app-profile-contact></app-profile-contact>

                <div class="row mb-5 gx-5 mt-5">
                    <app-change-passwd></app-change-passwd>

                    <div class="mx-4 mt-5" style="background: rgba(208, 212, 217, 0.1) !important;">
                        <app-payment-profile></app-payment-profile>
                    </div>
                    <!-- Row END -->
                    <div>
                        <app-buttons-upload-delete></app-buttons-upload-delete>
                    </div>
                </div>
            </form>









            <!-- Form END -->