<main class="container">

    <!--1st banner-->
    <section data-aos="fade-down-right" role="main" class="contenedorBanner container-fluid d-flex justify-content-center">
        <a href="./pages/products.html" class="">
            <img class="Banner img-fluid" src="../../../assets/img/productos_destacados.png">
        </a>
    </section>

    <!--Go shop-->
    <section data-aos="fade-down" role="main" class="container-fluid">
        <div class="row">
            <div class="contenedorGoshop d-flex flex-content flex-wrap justify-content-around mb-3">
                <div class="col-4 col-sm-4 col-sm-4 col-md-3 contenedorGoShop">
                    <a href="./pages/products.html"><img src="../../../assets/img/producto-4.jpg" class="goShop rounded-circle img-fluid border"></a>
                    <h5 class="text-center pt-3 TextGoShop">Convers</h5>
                    <p class="text-center TextGoShop"><a href="./pages/products.html" class="btn btn-primary m-2 p-2 shadow">Go Shop</a></p>
                </div>
                <div class="col-4 col-sm-4 col-md-3 d-inline-block contenedorGoShop">
                    <a href="./pages/products.html"><img src="../../../assets/img/producto-6.jpg" class=" goShop rounded-circle img-fluid border"></a>
                    <h2 class="h5 text-center pt-3 TextGoShop">Adidas</h2>
                    <p class="text-center TextGoShop"><a href="./pages/products.html" class="btn btn-primary m-2 p-2 shadow">Go Shop</a></p>
                </div>
                <div class="col-4 col-sm-4 col-md-3 d-inline-block contenedorGoShop">
                    <a href="./pages/products.html"><img src="../../../assets/img/producto-7.jpg" class="goShop rounded-circle img-fluid border"></a>
                    <h2 class="h5 text-center pt-3 TextGoShop">Nike</h2>
                    <p class="text-center TextGoShop"><a href="./pages/products.html" class="btn btn-primary m-2 p-2">Go Shop</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- 2nd banner -->
    <section data-aos="fade-up" role="main" class="container-fluid d-flex justify-content-center wx-100 mh-100 h-75 pt-4">
        <div class="row">
            <div class="my-5 bannerDos">
                <a href="./pages/ofers.html">
                    <img class="img-fluid Banner" src=" ../../../assets/img/articulos_oferta.png ">
                </a>
            </div>
        </div>
    </section>

    <!-- Dashboard Carrusel (   Carretel de imagenes productos aleatorios)-->
    <section class=" carousel slide marginCarrousel d-none d-sm-block" id="carouselExampleCaptions" data-bs-ride="carousel">

        <div class="carousel-indicators text-center d-sm-block botonesCarrousel">
            <button class="active bg-primary bg-opacity-50" data-bs-slide-to="0" data-bs-target="#carouselExampleCaptions" type="button" aria-current="true" aria-label="Slide 1"></button>
            <button class="bg-primary bg-opacity-50" data-bs-slide-to="1" data-bs-target="#carouselExampleCaptions" type="button" aria-label="Slide 2"></button>
            <button class="bg-primary bg-opacity-50" data-bs-slide-to="2" data-bs-target="#carouselExampleCaptions" type="button" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner text-center containerCarrousel">
            <div class="carousel-item active elementTheCarrousel">
                <img class="img-fluid imgCarrousel d-xl-inline-block" src="../../../assets/img/zapatilla-5.jpg" alt="...">
                <div class="col-12 d-inline-block containerTitleCarrousel">
                    <h5 class="text-secondary h2 h1Carrousel">UN COMPROMISO CON LA CALIDAD</h5>
                    <p class="text-primary d-sm-inline-block pCarrousel">En BIG SHOES SY, mejores precios y productos a tu alcance</p>
                </div>
            </div>

            <div class="carousel-item elementTheCarrousel">
                <img class="img-fluid imgCarrousel" src="../../../assets/img/zapatilla-4.jpg" alt="...">
                <div class="col-12 d-inline-block containerTitleCarrousel">
                    <h5 class="text-secondary  h2 h1Carrousel">CUIDAMOS PRECIOS Y EL AMBIENTE</h5>
                    <p class="text-primary pCarrousel">Cada 5 compras realizadas, contribuimos con un porcentaje a la siembra de arboles.</p>
                </div>
            </div>
            <div class="text-center carousel-item elementTheCarrousel">
                <img class="img-fluid imgCarrousel" src="../../../assets/img/zapatilla-3.jpg" alt="...">
                <div class="col-12 d-inline-block containerTitleCarrousel">
                    <h5 class="text-secondary h2 h1Carrousel">COMODIDAD Y CONFORT</h5>
                    <p class="text-primary"> Facilitamos los medios de pagos y envios adicionales para facilitar tu experiencia
                    </p>
                </div>
            </div>
        </div>

        <!-- Previous -->
        <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleCaptions" type="button">
                <i class="bi bi-caret-left-fill text-secondary" aria-hidden="true" style="font-size: xxx-large;"></i>
                <span class="visually-hidden">Previous</span>
            </button>

        <!-- Next -->
        <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleCaptions" type="button">
                <i class="bi bi-caret-right-fill text-secondary " aria-hidden="true" style="font-size: xxx-large;"></i>
                <span class="visually-hidden">Next</span>
            </button>
    </section>

    <!-- 3st banner  -->
    <section data-aos="zoom-in-left " role="main " class="container-fluid d-flex justify-content-center wx-100 mh-100 h-75">
        <div class="row ">
            <div class="my-5 bannerTres">
                <a href="./pages/products.html ">
                    <img class="img-fluid Banner" src="../../../assets/img/productos.png ">
                </a>
            </div>
        </div>
    </section>

    <!--Banner de sponsor-->
    <section class=" py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1 text-secondary">Sponsors</h1>
                    <p class="h7 pt-3 text-warning">
                        Estilo es usar lo que te hace sentir bien.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../../../assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../../../assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../../../assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../../../assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../../../assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../../../assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../../../assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../../../assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../../../assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../../../assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../../../assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../../../assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>