<!--Category`s-->
<div class="d-inline-block offcanvas-header w-100 pb-5 ">
    <h5 class="offcanvas-title bg-secondary border rounded p-2 w-100 text-center">CATEGORY</h5>
</div>
<!--Defined category-->
<div class="offcanvas-body">
    <ul>
        <li class=" ">
            <a>Adidas</a>
        </li>
        <hr>
        <li class=" ">
            <a>Nike</a>
        </li>
        <hr>
        <li class=" ">
            <a>Jordan</a>
        </li>
        <hr>
        <li class=" ">
            <a>New Balance</a>
        </li>
        <hr>
    </ul>
    <hr>
</div>