<!--Categorias-->
<div class="d-inline-block offcanvas-header w-100 pb-5 ">
    <h5 class="offcanvas-title bg-secondary border rounded p-2 w-100 text-center">CATEGORIAS</h5>
</div>

<!--Definiendo categorias-->
<div class="offcanvas-body">
    <ul>
        <li class=" ">
            <a href="# ">Adidas</a>
        </li>
        <hr>
        <li class=" ">
            <a href="# ">Nike</a>
        </li>
        <hr>
        <li class=" ">
            <a href="# ">Circa</a>
        </li>
        <hr>
        <li class=" ">
            <a href="# ">Fila</a>
        </li>
        <hr>
        <li class=" ">
            <a href="# ">Convers</a>
        </li>
        <hr>
        <li class=" ">
            <a href="# ">Todas las marcas....</a>
        </li>
    </ul>
    <hr>
</div>