<div class="d-flex flex-content flex-wrap justify-content-around mb-3">
    <div class="col-4 col-sm-4 col-sm-4 col-md-3 contenedor_goShop">
        <a href="./pages/products.html"><img src="assets/img/producto-4.jpg" class="imagen_goShop rounded-circle img-fluid border"></a>
        <h5 class="text-center pt-3 titulo_goShop"><b>Convers</b></h5>
    </div>
    <div class="col-4 col-sm-4 col-md-3 d-inline-block contenedor_goShop">
        <a href="./pages/products.html"><img src="assets/img/producto-6.jpg" class=" imagen_goShop rounded-circle img-fluid border"></a>
        <h2 class="h5 text-center pt-3 titulo_goShop"><b>Adidas</b></h2>
    </div>
    <div class="col-4 col-sm-4 col-md-3 d-inline-block contenedor_goShop">
        <a href="./pages/products.html"><img src="assets/img/producto-7.jpg" class="imagen_goShop rounded-circle img-fluid border"></a>
        <h2 class="h5 text-center pt-3 titulo_goShop"><b>Nike</b></h2>
    </div>
</div>