<section data-aos="fade-down" role="main" class="container-fluid">
    <div class="row">
        <div class="contenedorGoshop d-flex flex-content flex-wrap justify-content-around mb-3">
            <div class="col-4 col-sm-4 col-sm-4 col-md-3 contenedorGoShop">
                <a href="./pages/products.html"><img src="assets/img/producto-4.jpg" class="goShop rounded-circle img-fluid border"></a>
                <h5 class="text-center pt-3 TextGoShop">Convers</h5>
                <p class="text-center TextGoShop"><a href="./pages/products.html" class="btn btn-primary m-2 p-2 shadow">Go Shop</a></p>
            </div>
            <div class="col-4 col-sm-4 col-md-3 d-inline-block contenedorGoShop">
                <a href="./pages/products.html"><img src="assets/img/producto-6.jpg" class=" goShop rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center pt-3 TextGoShop">Adidas</h2>
                <p class="text-center TextGoShop"><a href="./pages/products.html" class="btn btn-primary m-2 p-2 shadow">Go Shop</a></p>
            </div>
            <div class="col-4 col-sm-4 col-md-3 d-inline-block contenedorGoShop">
                <a href="./pages/products.html"><img src="assets/img/producto-7.jpg" class="goShop rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center pt-3 TextGoShop">Nike</h2>
                <p class="text-center TextGoShop"><a href="./pages/products.html" class="btn btn-primary m-2 p-2">Go Shop</a></p>
            </div>
        </div>
    </div>
</section>