<div class="carousel-indicators text-center d-sm-block botonesCarrousel">
    <button class="active bg-primary bg-opacity-50" data-bs-slide-to="0" data-bs-target="#carouselExampleCaptions" type="button" aria-current="true" aria-label="Slide 1"></button>
    <button class="bg-primary bg-opacity-50" data-bs-slide-to="1" data-bs-target="#carouselExampleCaptions" type="button" aria-label="Slide 2"></button>
    <button class="bg-primary bg-opacity-50" data-bs-slide-to="2" data-bs-target="#carouselExampleCaptions" type="button" aria-label="Slide 3"></button>
</div>

<div class="carousel-inner text-center containerCarrousel">
    <div class="carousel-item active elementTheCarrousel">
        <img class="img-fluid imgCarrousel d-xl-inline-block" src="assets/img/zapatilla-5.jpg" alt="...">
        <div class="col-12 d-inline-block containerTitleCarrousel">
            <h5 class="text-secondary h2 h1Carrousel">UN COMPROMISO CON LA CALIDAD</h5>
            <p class="text-primary d-sm-inline-block pCarrousel">En BIG SHOES SY, mejores precios y productos a tu alcance</p>
        </div>
    </div>

    <div class="carousel-item elementTheCarrousel">
        <img class="img-fluid imgCarrousel" src="assets/img/zapatilla-4.jpg" alt="...">
        <div class="col-12 d-inline-block containerTitleCarrousel">
            <h5 class="text-secondary  h2 h1Carrousel">CUIDAMOS PRECIOS Y EL AMBIENTE</h5>
            <p class="text-primary pCarrousel">Cada 5 compras realizadas, contribuimos con un porcentaje a la siembra de arboles.</p>
        </div>
    </div>
    <div class="text-center carousel-item elementTheCarrousel">
        <img class="img-fluid imgCarrousel" src="assets/img/zapatilla-3.jpg" alt="...">
        <div class="col-12 d-inline-block containerTitleCarrousel">
            <h5 class="text-secondary h2 h1Carrousel">COMODIDAD Y CONFORT</h5>
            <p class="text-primary"> Facilitamos los medios de pagos y envios adicionales para facilitar tu experiencia
            </p>
        </div>
    </div>
</div>
<!-- Previous -->
<button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleCaptions" type="button">
                <i class="bi bi-caret-left-fill text-secondary" aria-hidden="true" style="font-size: xxx-large;"></i>
                <span class="visually-hidden">Previous</span>
            </button>
<!-- Next -->
<button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleCaptions" type="button">
                <i class="bi bi-caret-right-fill text-secondary " aria-hidden="true" style="font-size: xxx-large;"></i>
                <span class="visually-hidden">Next</span>
            </button>