<!-- nav -->
<nav class="navbar navbar-expand-sm align-items-center bg-light sticky-top">
    <!-- //todo: resolver contenedor extra -->
    <div class=" container container-fluid container-lg d-lg-inline text-center justify-content-between">

        <!-- Tools -->
        <div class="navHidden nav navbar-collapse mx-3 m-xl-0 justify-content-between">

            <!-- isotipo-xs (logo tipo imagen)-->
            <a class="d-inline d-sm-none  " href="#">
                <img class=" align-text-top " src="assets/img/bssy-logo.png" alt width="55" height="55">
            </a>

            <!-- logotipo-xs (logo tipo letra)-->
            <a class="d-inline d-sm-none " type="button" aria-expanded="false">
                <img src="assets/img/bssy.svg " alt="" width="100" height="54" class="align-text-top pt-3">
            </a>

            <!-- dropDown -->
            <div class="dropdown dropstart d-sm-none  ">
                <div class="text-center text-sm-center d-sm-none">

                    <!-- Icon -->
                    <div class=" d-xs-inline " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                        <i class="btn btn-light bi bi-text-paragraph align-text-top px-0 " style="font-size: 2.5rem;"></i>
                    </div>
                    <li><hr class="dropdown-divider"></li>
                    
                    <!-- Body -->
                    <ul class=" dropdown-menu text-center" aria-labelledby="dropdownMenuButton1">

                        <!-- signIn-sm -->
                        <div data-bs-target=" #modal-login" data-bs-toggle="modal" type="button" *ngFor="let traer of modal">
                            <div class=" nav-link "><a aria-current="page" [routerLink]="[traer.url]">Sing In</a> </div>
                        </div>

                        <!-- singUp-sm -->
                        <div data-bs-target=" #modal-signup" data-bs-toggle="modal" type="button" *ngFor="let traer of modal">
                            <div class=" nav-link "><a aria-current="page" [routerLink]="[traer.url]">Sing Up</a> </div>
                        </div>
                        <li><hr class="dropdown-divider"></li>

                        <!-- Menu -->
                        <li class="dropdown-header bg-light"> <b> MENU </b> </li>
                        <li class="dropdown-item"><a href="../index.html"> Home </a></li>
                        <li class="dropdown-item"><a href="./products.html"> Productos </a></li>
                        <li class="dropdown-item"><a href="./ofers.html"> Ofertas </a></li>
                        <li class="dropdown-item"><a href="./about.html"> Nosotros </a></li>
                        <li class="dropdown-item"><a href="./contact.html"> Contactanos </a></li>

                    </ul>

                </div>
            </div>

        </div>

        <!-- navPages -->
        <div class="navPages row d-lg-flex justify-content-center ">
            <div class=" text-center d-none d-sm-inline-block ">
                <div class=" navbar navbar-nav">

                    <!-- logo-lg -->
                    <div class=" container-expand text-center d-none d-sm-inline-block ">
                        <div class=" d-none d-sm-inline align-items-sm-start " >
                            <a class="text-sm-center" href="#">
                                <img class=" align-text-top " src="assets/img/bssy-logo.png" alt width="55" height="55">
                                <img class="d-inline-block align-text-top " src="assets/img/bigShoesSy-letter-black.svg" alt width="200" height="55">
                            </a>
                        </div>
                    </div>

                    <!--1. signIn/singUp-md -->
                    <div class=" d-lg-none d-inline mx-4" data-bs-target="#modal-login" data-bs-toggle="modal" type="button">
                        <a class=" text-xs-center text-sm-center text-md-center" style="font-size: 2.5rem;">
                            <ng-template [ngTemplateOutlet]="iconUser"></ng-template>

                        </a>
                    </div>

                    <!-- menu -->
                    <div class=" container col-lg-6 text-center d-none d-sm-inline-block d-lg-inline-block ">
                        <div class="contendorMenu navbar navbar-nav mx mx-5 px-xl-5 ">
                            <div class=" nav-item " *ngFor="let option of menuOptions">
                                <a class="nav-link" [routerLink]="[option.url]">{{ option.label }}</a></div>
                        </div>
                    </div>

                    <!--2. signIn/singUp-md -->
                    <div class=" d-none d-lg-inline d-xl-none" data-bs-target="#modal-login" data-bs-toggle="modal" type="button">
                        <a class=" text-xs-center text-sm-center text-md-center" style="font-size: 2.5rem;">
                            <ng-template [ngTemplateOutlet]="iconUser"></ng-template>
                        </a>
                    </div>

                    <!--3. Login/Register -->
                    <div class=" container text-center col-lg-2 text-center d-none d-xl-inline mi-n1">
                        <div class=" navbar navbar-nav ">

                            <!-- signIn -->
                            <div data-bs-target="#modal-login" data-bs-toggle="modal" type="button">
                                <div class=" nav-link "><a aria-current="page">Sing In</a></div>
                            </div>

                            <!-- /singUp -->
                            <div data-bs-target="#modal-signup" data-bs-toggle="modal" type="button">
                                <div class=" nav-link "><a aria-current="page">Sing Up</a></div>
                            </div>
                            <!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal-signup" id="modal-signup" aria-hidden="true">
                                <app-modal></app-modal>
                            </div> -->

                    </div>

                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</nav>

<!-- component modal-login -->
<div class="modal fade " id="modal-login" aria-hidden="true" aria-labelledby="modal-login" tabindex="-1">
    <!-- Componente login -->
    <app-modal-login></app-modal-login>
</div>

<!-- component modal-signup-->
<div class="modal fade bd-example-modal-lg" id="modal-signup" role="dialog" aria-hidden="true" aria-labelledby="modal-signup" tabindex="-1">
    <app-modal-register></app-modal-register>
</div>

<!--Ng template para los SVG -> SVG UserIcon-->
<ng-template #iconUser="">
    <svg class="bi bi-person-circle" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
    </svg>
</ng-template>