.animacion_logo-xs {
    animation: lightSpeedInLeft;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    /* don't forget to set a duration! */
}

.animacion_bssy-xs {
    animation: rotateInDownRight;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    /* don't forget to set a duration! */
}

.animacion_hamburguesa-xs {
    animation: lightSpeedInRight;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    /* don't forget to set a duration! */
}

.animacion_logo-lg {
    animation: backInLeft;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    /* don't forget to set a duration! */
}

.animacion_user-lg {
    animation: backInRight;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    /* don't forget to set a duration! */
}


.mi-n1 {
    margin-inline: -0.25rem !important;
}

.contenedorNavbar {
    overflow: hidden;
}

.navCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_button-md {
    padding: 5px 200px 5px 200px;
    width: 100%;
}


// Ocultar nav-xs
@media only screen and (min-width: 578px) {
    .navHidden {
        display: none;
    }

}

// Ocultar pages
@media only screen and (max-width: 578px) {
    .navPages {
        display: none;
    }
}