<section class=" row centerClass  ">
    <!--1. col -->
    <div class="col-2 col-xxl-3 d-none d-lg-inline-block">
    </div>
    <!--2. Contact Form -->
    <div class="col d-lg-inline-block mx-5 mx-lg-0">
        <form id="contactForm">
            <h2 class=" my-4 text-center "> Contáctanos </h2>
            <!-- Name input -->
            <div class="mb-3">
                <label class="form-label" for="name">Nombre</label>
                <input class="form-control" id="name" type="text" placeholder="Name">
            </div>

            <!-- Email address input -->
            <div class="mb-3">
                <label class="form-label" for="emailAddress">Correo electronico</label>
                <input class="form-control" id="emailAddress" type="email" placeholder="Email Address">
            </div>

            <!-- Message input -->
            <div class="mb-3">
                <label class="form-label" for="message">Mensaje</label>
                <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;"></textarea>
            </div>

            <div class="container text-center  ">

                <!-- Delete content Check -->
                <!-- <input class="d-none" type="checkbox" id="form" name="form-contact"> -->

                <!-- Delete content button -->
                <div class=" d-inline d-sm-inline m-2 " id="backButton" type="submit">
                    <button href="../index.html" class="btn btn-primary btn-lg ">Volver</button>
                </div>

                <!-- Form submit button -->
                <div class=" d-inline d-sm-inline m-2 " id="resetButton" type="reset">
                    <button class="btn btn-primary btn-lg " value="Reset">Borrar</button>
                </div>

                <!-- Form delete button -->
                <div class=" d-inline d-sm-inline m-2 " id="submitButton" type="submit">
                    <button class=" btn btn-primary btn-lg ">Enviar</button>
                </div>

            </div>

        </form>
    </div>

    <!--3. col -->
    <div class="col-2 col-xxl-3 d-none d-lg-inline-block my-lg-5 ">
    </div>

    <!--4. texto -->
    <div class=" flex flex-fill mx-5 mt-5 text-center ">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa molestiae inventore commodi obcaecati quis omnis eaque placeat nihil! Quidem, consequuntur. Iste tempore eos fuga sed provident nihil maiores sunt blanditiis! Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Natus earum harum quia voluptates laborum.
        </p>
    </div>

</section>