$grid-breakpoints-up: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px, xxxl: 2000px);

@mixin from($breakpoint){
    @media screen and (min-width: map-get($grid-breakpoints-up, $breakpoint)){
        @content
    }
};

@mixin to($breakpoint){
    @media screen and (max-width: map-get($grid-breakpoints-up, $breakpoint)){
        @content
    }
};
 
@include from(sm){
    .contenedor__home-shopping {
        height: 70%;
    }
    .contenedor__carrousel-buttons {
        height: 400px;
    }
    .container__carrousel-img-primary {
        height: 200px;
    }
    .imgSeccion {
        width: 90%;
        max-height: 500px;
    }
    .container__text-carrousel {
        padding-top: 60px;
        font-size: 14px;
    }
    .title__carrousel {
        font-size: 24px;
    }
}

//Definiendo el contenido que va a sufrir cambios al cambiar la pantalla.
@include from (sm) {
    .contenedor__home-shopping {
        height: 70%;
    }
    .contenedor__carrousel-buttons {
        height: 400px;
    }
    .container__carrousel-img-primary {
        height: 200px;
    }
    .imgSeccion {
        width: 90%;
        max-height: 500px;
    }
    .container__text-carrousel {
        padding-top: 60px;
        font-size: 14px;
    }
    .title__carrousel {
        font-size: 24px;
    }
}

@include from (md) {
    .contenedor__home-shopping {
        height: 80%;
    }
    .contenedor__carrousel-buttons {
        height: 450px;
    }
    .carrousel__images {
        height: 250px;
    }
    .container__text-carrousel {
        font-size: 16px;
    }
    .title__carrousel {
        font-size: 27px;
    }
}

@include from (lg) {
    .contenedor__home-shopping {
        height: 100%;
    }
}

@include from (xxxl) {
    .upFixed {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .centerClass {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}