<!-- Contact detail -->
<div class="row g-3">
    <h4 class="mb-4 mt-0">Contact detail</h4>
    <!-- First Name -->
    <div class="col-md-6">
        <label class="form-label">First Name *</label>
        <input type="text" class="form-control" placeholder="" aria-label="First name" value="Scaralet">
    </div>
    <!-- Last name -->
    <div class="col-md-6">
        <label class="form-label">Last Name *</label>
        <input type="text" class="form-control" placeholder="" aria-label="Last name" value="Doe">
    </div>
    <!-- Phone number -->
    <div class="col-md-6">
        <label class="form-label">Phone number *</label>
        <input type="text" class="form-control" placeholder="" aria-label="Phone number" value="(333) 000 555">
    </div>
    <!-- Mobile number -->
    <div class="col-md-6">
        <label class="form-label">Mobile number *</label>
        <input type="text" class="form-control" placeholder="" aria-label="Phone number" value="+91 9852 8855 252">
    </div>
    <!-- Email -->
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email *</label>
        <input type="email" class="form-control" id="inputEmail4" value="example@homerealty.com">
    </div>
    <!-- Skype -->
    <div class="col-md-6">
        <label class="form-label">Instagram *</label>
        <input type="text" class="form-control" placeholder="" aria-label="Phone number" value="Scaralet D">
    </div>