<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <!-- header  -->
        <div class="modal-header">
            <h5 class=" modal-title " id="modal-recover"> Write your e-mail and send for recover password </h5>
            <button class=" btn-close" data-bs-dismiss="modal" type="button" aria-label="Close"></button>
        </div>

        <!-- body  -->
        <div class="modal-body px-5 w-100">
            <form class="">

                <div class="row d-inline-flex ">
                    <!-- email -->
                    <div class="d-inline-block d-sm-inline form-floating mb-3">
                        <input class="form-control rounded-4" id="floatingInput" type="email" placeholder="name@example.com">
                        <label for="floatingInput" class="px-4">Correo electronico</label>
                    </div>
                </div>

                <!-- enviar form -->
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-secondary" type="submit">Send Message</button>

                <!-- footer  -->
                <div class="modal-footer">
                </div>