<div class="tab-pane pt-5 pb-5" id="billing">
    <form>
        <div class="form-group">
            <label class="d-block mb-0 h4 mb-2">Payment Method Debit/Credit</label>
            <div class="small text-muted mb-3">You have not added a payment method</div>
            <button class="btn btn-info " type="button">Add Payment Method</button>
        </div>
        <div class="form-group mb-0 pt-4">
            <label class="d-block h4"> Number tarjet Debit/Credit</label>
            <input class="w-100 border border-gray-500 bg-gray-200 p-3 text-center font-size-sm" />

        </div>
    </form>
</div>