.contenedor_banner-home {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    border: 10px solid #dc3545;
}

.imagen_banner-home {
    height: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 2px solid rgba(70, 98, 136, 0.839);
    -webkit-box-shadow: -0.3em 0.3em 0.4em rgba(0, 0, 0, 0.353);
    box-shadow: -0.3em 0.3em 0.4em rgba(0, 0, 0, 0.353);
}

.contenedor_banner-destacados {
    padding-top: 20px;
}

.contenedor_banner-ofertas {
    padding-bottom: 0px;
}

.contenedor_banner-productos {
    padding-bottom: 0;
}

@media (min-width: 576px) {
    .contenedor_banner-productos {
        padding-top: 100px;
        width: auto;
    }
}

@media (min-width: 768px) {
    .contenedor_banner-destacados {
        padding-top: 12px;
        padding-bottom: 100px;
    }
}

@media (min-width: 992px) {
    .contenedor_banner-destacados {
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .imagen_banner-home {
        width: 100%;
        height: 85%;
    }
    .contenedor_banner-ofertas {
        padding-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .contenedor_banner-destacados {
        padding-top: 10px;
    }
    .imagen_banner-home {
        width: 100%;
        height: 80%;
    }
}

//////////////////////////////////////////
// @include media-breakpoint-up (sm) {
//     .contenedor_banner-productos {
//         padding-top: 100px;
//     }
//     .mx {
//         margin-right: 2rem !important;
//         margin-left: 2rem !important;
//     }
// }
// @include media-breakpoint-up (md) {
//     .contenedor_banner-destacados {
//         padding-top: 12px;
//         padding-bottom: 15px;
//     }
//     .contenedor_banner-productos {
//         padding-top: 0;
//     }
//     .mx {
//         margin-right: 8rem !important;
//         margin-left: 8rem !important;
//     }
// }
// @include media-breakpoint-up (lg) {
//     .contenedor_banner-destacados {
//         padding-top: 50px;
//         padding-bottom: 1px;
//     }
//     .imagen_banner-home {
//         width: auto;
//         height: 75%;
//     }
//     .contenedor_banner-ofertas {
//         padding-top: 40px;
//         padding-bottom: 0px;
//     }
//     .mx {
//         margin-right: 5rem !important;
//         margin-left: 1rem !important;
//     }
// }
// @include media-breakpoint-up (xl) {
//     .contenedor_banners-home {
//         text-align: center;
//     }
//     .contenedor_banner-destacados {
//         padding-top: 10px;
//     }
//     .imagen_banner-home {
//         width: 80%;
//         height: 60%;
//     }
//     .contenedor_banner-productos {
//         padding-top: 70px;
//     }
//     .mx {
//         margin-right: 5rem !important;
//         margin-left: 5rem !important;
//     }
// }
// @include media-breakpoint-up (xxl) {
//     .mx {
//         margin-right: 6rem !important;
//         margin-left: 6rem !important;
//     }
// }