/* Carousel Products */
$contenedorHeigth: 400px;


// Aca arranca el carrousel
.contenedor_carousel-products {
    height: $contenedorHeigth;
}

.imgCarrousel {
    padding-top: 50px;
    height: ($contenedorHeigth/2) - 20;
}

.carousel_products-elements {
    height: ($contenedorHeigth - 50);
}

.section_carousel-products {
    height: $contenedorHeigth + 100;
}

.elementCarousel_text-parrafo {
    width: auto;
}

.elementCarousel_text-title {
    width: auto;
    font-size: 22px;
}

.products_element-text {
    opacity: 0.80;
    padding-top: 60px;
    font-size: 12px;
}

@media (min-width: 576px) {
    .contenedor_carousel-products {
        height: $contenedorHeigth;
    }

    .imgCarrousel {
        height: $contenedorHeigth / 2;
    }

    .products_element-text {
        padding-top: 60px;
        font-size: 14px;
    }

    .elementCarousel_text-title {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .contenedor_carousel-products {
        height: $contenedorHeigth;
    }

    .imgCarrousel {
        height: $contenedorHeigth / 2;
        margin-top: 0;
    }

    .products_element-text {
        font-size: 16px;
    }

    .elementCarousel_text-title {
        font-size: 27px;
    }
}