/* Cards Products */ 

.contenedor__home-shopping {
    height: 100%;
}

.tarjeta {
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.tarjeta:hover {
    transform: scale(1.5, 1.5);
    /* Igual que: scaleX(2) scaleY(0.5) */
    transform-origin: center;
    z-index: 1;
    overflow: hidden;
}