/* Cards Go-Shop */

//Vars
$globalPadding: 50;
$globalPaddingDiv:calc($globalPadding / 2);

//Class
.contenedor_goShop-home {
    padding-bottom: $globalPadding;
    padding-top: $globalPadding - 10;
}

//Aca arranca el GO shop
.contenedor_goShop {
    display: block; //Posicion en bloque
    position: relative; //Que se posicione relativamente
    padding-top: $globalPadding;
    padding-bottom: $globalPaddingDiv - 10;
    text-decoration: none; //Le sacamos los estilos por defecto.
    text-transform: uppercase; //Que se ponga en mayúsculas
    text-align: center; //lo alineamos al centro
    align-items: center;
    cursor: pointer; //Le decimos que se ponga como puntero cuando se pare arriba del texto.
    color: rgba(51, 139, 255, 0.815); //Le asignamos un color
    z-index: 0;
    transition: all 450ms ease;

    .titulo_goShop {
        &:hover {
            color: $quinto;

        }
    }
}

@mixin imagen_goShop {
    width: auto;
    height: 100%;
}

.imagen_goShop {
    @include imagen_goShop
}

.imagen_goShop-convers {
    @include imagen_goShop;
}

.titulo_goShop {
    display: inline-block;
    text-decoration: none;
    width: auto;
    color: $secondary;
    justify-content: center;
    font-family: monospace;
    font-weight: 900;
    font-size: 20px;
}

@media (min-width: 576px) {
    .imagen_goShop {
        height: 100%;
    }
}

@media (min-width: 768px) {
    .contenedor_goShop {
        padding-top: $globalPadding;
        padding-bottom: $globalPadding * 2;
    }
}

@media (min-width: 992px) {
    .imagen_goShop {
        height: 75%;
    }
}

@media (min-width: 1200px) {
    .imagen_goShop {
        height: 80%;
    }
}