/* Cards Go-Shop */

.contenedor_goShop-home {
    background: linear-gradient( $secondary, $info);
    box-shadow: -0.3em -0.3em 0.2em rgba(0, 0, 0, 0.353);
    padding-bottom: 40px;
    padding-top: 35px;
    margin-top: 50px;
}

//Aca arranca el GO shop
.contenedor_goShop {
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 10px;
    align-items: center;
}

@mixin imagen_goShop {
    width: auto;
    height: 100%;
}

.imagen_goShop {
    @include imagen_goShop
}

.imagen_goShop-convers {
    @include imagen_goShop;
}

.titulo_goShop {
    display: inline-block;
    text-decoration: none;
    width: auto;
    color: $secondary;
    justify-content: center;
    font-family: monospace;
    font-weight: 900;
    font-size: 20px;
}

@media (min-width: 576px) {
    .imagen_goShop {
        height: 100%;
    }
}

@media (min-width: 768px) {
    .contenedor_goShop {
        padding-top: 20px;
    }
}

@media (min-width: 992px) {
    .imagen_goShop {
        height: 75%;
    }
}

@media (min-width: 1200px) {
    .imagen_goShop {
        height: 80%;
    }
}

//////////////////////////////////////////
// @include media-breakpoint-up (sm) {
//     .imagen_goShop {
//         height: 60%;
//     }
//     .contenedor_goShop {
//         padding: 20px;
//     }
//     .mx {
//         margin-right: 2rem !important;
//         margin-left: 2rem !important;
//     }
// }
// @include media-breakpoint-up (md) {
//     .contenedor_goShop {
//         padding-top: 20px;
//     }
//     .mx {
//         margin-right: 8rem !important;
//         margin-left: 8rem !important;
//     }
// }
// @include media-breakpoint-up (lg) {
//     .imagen_goShop {
//         height: 75%;
//     }
//     .mx {
//         margin-right: 5rem !important;
//         margin-left: 1rem !important;
//     }
// }
// @include media-breakpoint-up (xl) {
//     .contenedor_goShop {
//         padding-top: 100px;
//     }
//     .imagen_goShop {
//         height: 70%;
//     }
//     .mx {
//         margin-right: 5rem !important;
//         margin-left: 5rem !important;
//     }
// }
// @include media-breakpoint-up (xxl) {
//     .mx {
//         margin-right: 6rem !important;
//         margin-left: 6rem !important;
//     }
// }