<div fullpage id="fullpage">

    <div class="section data-anchor">
        <div class="contendor_principal-about container">
            <div class="row">
                <section class="col-3">
                    <figure><img src="assets/img/paleta.svg" alt=""></figure>
                    <h2>Título</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse enim odio eos architecto
                        consequuntur
                        amet dicta soluta eveniet minima? Unde iure consequatur totam officiis dolorum quam repudiandae
                        aspernatur est harum?</p>
                </section>
                <section class="col-3">
                    <figure><img src="assets/img/nave.svg" alt=""></figure>
                    <h2>Título</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse enim odio eos architecto
                        consequuntur
                        amet dicta soluta eveniet minima? Unde iure consequatur totam officiis dolorum quam repudiandae
                        aspernatur est harum?</p>
                </section>
                <section class="col-3">
                    <figure><img src="assets/img/trofeo.svg" alt=""></figure>
                    <h2>Título</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse enim odio eos architecto
                        consequuntur
                        amet dicta soluta eveniet minima? Unde iure consequatur totam officiis dolorum quam repudiandae
                        aspernatur est harum?</p>
                </section>
                <section class="col-3">
                    <figure><img src="assets/img/codigo.svg" alt=""></figure>
                    <h2>Título</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse enim odio eos architecto
                        consequuntur
                        amet dicta soluta eveniet minima? Unde iure consequatur totam officiis dolorum quam repudiandae
                        aspernatur est harum?</p>
                </section>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container-fluid">
            <div class="contenedor_section-two">
                <div class="col-5">
                    <img class="img-fluid" src="assets/img/socios.svg" alt="foto">
                </div>
                <div class="col-5">
                    <h1>
                        TITULO
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, animi! Tempora perferendis,
                        quo magni ad repudiandae recusandae culpa ipsam obcaecati quisquam voluptatibus, amet eos
                        nesciunt laudantium quia dolores. Aspernatur, non.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">Slide 2.1</div>
        <div class="slide">Slide 2.2</div>
        <div class="slide">Slide 2.3</div>
    </div>

</div>