<main class="flex-shrink-0">
    <!-- Header-->
    <header class="py-5">
        <div class="container px-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                    <div class="text-center my-5">
                        <h1 class="fw-bolder mb-3">Nuestra misión es hacer que crear sea más fácil para todos.
                        </h1>
                        <p class="lead fw-normal text-muted mb-4">
                        <p>Somos el equipo de Big Shoes, formado por: el Ingeñero <b>Anthony Fernández</b> y el
                            futuro
                            técnico
                            de desarrollo <b>Tomás Martínez</b>.
                            Siempre nos gustó el diseño y poder dejar algo en vida por lo que seamos recordados, por
                            eso fundamos big shoes, porque creemos que los sueños son ideas, que tenemos que realizar al
                            despertar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Section one-->
    <section class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0"
                        src="../../../../../assets/img/aboutBSSY.png" alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Big Shoes Sy S.A</h2>
                    <p class="lead fw-normal text-muted mb-0">La página nacio con la idea de
                        hacer fusion de proyectos
                        individuales, ambas tiendas de zapatillas, Shoes SY & Big Zapas, se unieron para formar Big
                        Shoes SY y poder dar el mejor potencial en eso que tenían en común.<br>
                        El equipo sin experiencia previa, se hizo al pasar de 2 meses y medio, de tecnologías y
                        herramientas
                        lo cual le permitieron llegar hasta la instancia actual donde se encuentra este hermoso
                        proyecto.
                        Gracias a la ayuda de Syloper, pudimos dar un salto en nuestras metas profesionales.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Section two-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center align-items-center">
                <div class="col-lg-6 order-first order-lg-last px-xl-5 d-none d-lg-inline-block text-end"><img
                        class="img-fluid rounded mb-5 mb-lg-0" src="../../../../../assets/img/iso_syloper.png"
                        alt="..." /></div>
                <div
                    class="col-lg-10 order-first order-lg-last d-flex justify-content-center m-xl-3 d-none d-lg-inline-block mt-lg-5 mt-xl-5">
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="../../../../../assets/img/bootcamp.jpg"
                        alt="..." />
                </div>
                <div class="col-lg-6 order-first order-lg-last d-flex justify-content-center px-xl-5 d-lg-none mt-5">
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="../../../../../assets/img/bootcamp.jpg"
                        alt="..." />
                </div>
                <div class="col-lg-6 ">
                    <h2 class="fw-bolder mx-2"><img class="" src="../../../../../assets/img/logosinfondo.jpg" alt=""
                            style="width: 50px;"> Syloper S.A
                    </h2>
                    <p class="lead fw-normal text-muted mb-0 ">En
                        agradecimiento a Syloper S.A, que nos dejó ser parte
                        de esta
                        experiencia inolvidable, para poder dar los primeros pasos profesionalizantes, ya que nos
                        acompaño,
                        nos brindó las herramientas, tanto técnicas como las habilidades blandas para poder llevar a
                        a cabo el proyecto. Nos dio un panorama de lo que es un entorno laboral, clases de apoyo con
                        profesionales
                        increibles y un salon de compañeros lleno de personas experimentando lo mismo y empujando para
                        crecer.
                        Un agradecimiento especial para los profesionales de las clases que estubieron a pie de cañon
                        con cada consulta:<br>
                    </p>
                    <hr>
                    <p class="h5 lead fw-normal text-muted mb-0">
                        <b>Pamela Zamboni, Gino Caputto, Gregory Lopez y <br>Gonzalo Cadelago.</b>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-first order-lg-last d-flex justify-content-center px-xl-5 d-lg-none mt-5"><img
                    class="img-fluid rounded mb-5 mb-lg-0" src="../../../../../assets/img/iso_syloper.png" alt="..." />
            </div>

        </div>
    </section>
    <!-- Team members -->
    <section class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="fw-bolder">Team</h2>
                <p class="lead fw-normal text-muted mb-5">Dedicados a la calidad y el progreso.</p>
            </div>
            <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                <!-- Anthony -->
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="imagen_about-team img-fluid rounded-circle mb-4 px-4"
                            src="../../../../../assets/img/foto_anthony.png" alt="..." />
                        <h5 class="fw-bolder">Anthony Fernandez</h5>
                        <div class="fst-italic text-muted">CoFounder &amp; CPO</div>
                    </div>
                </div>
                <!-- Tomas -->
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="imagen_about-team img-fluid rounded-circle mb-4 px-4"
                            src="../../../../../assets/img/foto_tomi.PNG" alt="..." />
                        <h5 class="fw-bolder">Tomas Martinez</h5>
                        <div class="fst-italic text-muted">CoFounder CSO</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>