<div fullpage id="fullpage">
    <div class="section data-anchor">
        <div class="contendor_principal-about container">
            <!-- One container team view -->
            <div class="row">
                <!-- Colors -->
                <section class="col-3">
                    <figure><img src="assets/img/paleta.svg" alt=""></figure>
                    <h2>Dising</h2>
                    <p> At Big Shoes SY brand, imposed a tendency that one shoe, it is the fundamental piece of your
                        outfit.
                        <br>
                        <b>The team</b> has an artistic imprint that comes from the family, giving a vision of
                        generations in
                        its products, and knowing
                        the next step in fashion.
                    </p>
                </section>
                <section class="col-3">
                    <figure><img src="assets/img/nave.svg" alt=""></figure>
                    <h2>Velocity</h2>
                    <p>Our production capacity is fast, as is the provision for shipments. <br>
                        <b>The team</b> comes from a working family, heavy labor, used to pressure and change.
                    </p>
                </section>
                <section class="col-3">
                    <figure><img src="assets/img/trofeo.svg" alt=""></figure>
                    <h2>Quality</h2>
                    <p>Big Shoes SY, has a commitment to quality, the engineer <b>Anthony Fernandez</b> and the
                        future
                        development technician
                        <b>Tomas Martinez</b>, understand the processes to achieve quality, what we offer in big
                        shoes
                        without a doubt.
                    </p>
                </section>
                <section class="col-3">
                    <figure><img src="assets/img/codigo.svg" alt=""></figure>
                    <h2>Challenge</h2>
                    <p>There is a lot of competition in the market, so it is a daily challenge to work and implement
                        new
                        designs in <b>Big Shoes</b>,
                        the team is ready to fight</p>
                </section>
            </div>
        </div>
    </div>
    <!-- Section SVG friends -->
    <div class="section">
        <div class="container-fluid">
            <div class="contenedor_section-two">
                <!-- Image team -->
                <div class="col-5">
                    <img class="img-fluid" src="assets/img/socios.svg" alt="foto">
                </div>
                <!-- Container text -->
                <div class="col-5">
                    <h1>
                        Team
                    </h1>
                    <p>The team is made up of two members: the engineer <b>Anthony Fernandez</b> and the future
                        development technician <b>Tomas Martinez</b>.</p>
                    <p>We always like design and being able to leave something in life for what we will be remember
                        for,
                        that's why we founded
                        big shoes, because we believe that dreams are idea, that you have to realize when you wake
                        up.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>