///
/// 1_ PATROÓN DE COLORES
///
$principal: #165164;
$secundario: #8adaef;
$tercero: #0791DB;
$cuarto: #1E465C;
$quinto: #056FA8;
$sexto: #e3f4fb;
$septimo: #165164;
$textDecorationNone: none;
///
/// 2_ MODIFICACION DE LAS VARIABLES DE BOOTSTRAP.
/// 
$primary: $principal;
$secondary: $secundario;
$success: $tercero;
$info: $cuarto;
$warning: $quinto;
$light: $sexto;
$dark: $septimo;
//Import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
//Import OWN Carrousel
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
//Contenido general, variables y pages.
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px, xxxl: 2000px);
//
*,
*::before,
*::after {
    font-family: sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    text-decoration: none;
}

.mx {
    margin-right: 7rem !important;
    margin-left: 7rem !important;
}

li {
    list-style: none;
    text-decoration: none;
}

.contendorMenu {
    padding: 0;
}

//Propiedades del footer
@media (min-width: 768px) {
    .upFixed {
        bottom: 0;
        width: 100%;
    }
    .centerClass {
        height: 90vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

//Aca arranca el carrousel
.marginCarrousel {
    height: 400px;
}

.imgCarrousel {
    padding-top: 50px;
    height: 180px;
}

.elementTheCarrousel {
    height: 350px;
}

.containerCarrousel {
    height: 500px;
}

.pCarrousel {
    width: auto;
}

.h1Carrousel {
    width: auto;
    font-size: 22px;
}

.containerTitleCarrousel {
    opacity: 0.80;
    padding-top: 60px;
    font-size: 12px;
}

@media (min-width: 576px) {
    .marginCarrousel {
        height: 400px;
    }
    .imgCarrousel {
        height: 200px;
    }
    .containerTitleCarrousel {
        padding-top: 60px;
        font-size: 14px;
    }
    .h1Carrousel {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .marginCarrousel {
        height: 450px;
    }
    .imgCarrousel {
        height: 250px;
    }
    .containerTitleCarrousel {
        font-size: 16px;
    }
    .h1Carrousel {
        font-size: 27px;
    }
}

//Aca arranca el GO shop
.contenedorGoshop {
    padding-top: 50px;
    padding-bottom: 10px;
}

.goShop {
    height: 55%;
    width: 90%;
}

.TextGoShop {
    font-weight: bolder;
}

.Banner {
    height: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -o-object-fit: cover;
    object-fit: cover;
    border: 2px solid rgba(70, 98, 136, 0.839);
    -webkit-box-shadow: -0.3em 0.3em 0.4em rgba(0, 0, 0, 0.353);
    box-shadow: -0.3em 0.3em 0.4em rgba(0, 0, 0, 0.353);
}

.container img.Banner {
    -o-object-fit: fill;
    object-fit: fill;
    padding: 2px;
}

.contenedorBanner {
    padding-top: 20px;
}

.bannerDos {
    padding-bottom: 0px;
}

.bannerTres {
    padding-bottom: 0;
}

@media (min-width: 576px) {
    .goShop {
        height: 60%;
    }
    .contenedorGoShop {
        padding: 20px;
    }
    .bannerTres {
        padding-top: 100px;
    }
}

@media (min-width: 768px) {
    .contenedorGoshop {
        padding-top: 20px;
    }
    .contenedorBanner {
        padding-top: 12px;
        padding-bottom: 100px;
    }
}

@media (min-width: 992px) {
    .goShop {
        height: 75%;
    }
    .contenedorBanner {
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .Banner {
        width: 100%;
        height: 85%;
    }
    .bannerDos {
        padding-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .contenedorGoshop {
        padding-bottom: 120px;
    }
    .goShop {
        height: 80%;
    }
    .contenedorBanner {
        padding-top: 10px;
    }
    .Banner {
        width: 100%;
        height: 80%;
    }
}

@include media-breakpoint-up (sm) {
    .goShop {
        height: 60%;
    }
    .contenedorGoShop {
        padding: 20px;
    }
    .bannerTres {
        padding-top: 100px;
    }
    .mx {
        margin-right: 2rem !important;
        margin-left: 2rem !important;
    }
}

@include media-breakpoint-up (md) {
    .contenedorGoshop {
        padding-top: 20px;
    }
    .contenedorBanner {
        padding-top: 12px;
        padding-bottom: 15px;
    }
    .bannerTres {
        padding-top: 0;
    }
    .mx {
        margin-right: 8rem !important;
        margin-left: 8rem !important;
    }
}

@include media-breakpoint-up (lg) {
    .goShop {
        height: 75%;
    }
    .contenedorBanner {
        padding-top: 50px;
        padding-bottom: 1px;
    }
    .Banner {
        width: 100%;
        height: 85%;
    }
    .bannerDos {
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .mx {
        margin-right: 5rem !important;
        margin-left: 1rem !important;
    }
}

@include media-breakpoint-up (xl) {
    .contenedorGoshop {
        padding-bottom: 120px;
    }
    .goShop {
        height: 70%;
    }
    .contenedorBanner {
        padding-top: 10px;
    }
    .Banner {
        width: 100%;
        height: 78%;
    }
    .bannerTres {
        padding-top: 70px;
    }
    .mx {
        margin-right: 5rem !important;
        margin-left: 5rem !important;
    }
}

@include media-breakpoint-up (xxl) {
    .mx {
        margin-right: 6rem !important;
        margin-left: 6rem !important;
    }
}